/**
 * CSS3 Button from 'BINARY MOON'
 *   http://www.binarymoon.co.uk/demo/css3-button/
 */
a.css-button {
	font-size:20px;
	color:#000;
	text-decoration:none;
	display:block;
	float:left;
	font-weight:bold;
	padding:5px 10px;
	margin:5px;
	border:1px solid #DDD;
	text-align:center;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;

	background:#FFFFFF;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
	background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
a.css-button:hover {
	color:#fff;
	border-color:#3278BE;

	background:#4195DD;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
	background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
a.css-button:active {
	background:#4195DD;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
	background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

a.css-button.notransitions {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

a.buy {
	color:#fff;
	border:1px solid #000;

	background:#000;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#777));
	background:-moz-linear-gradient(0% 90% 90deg, #777, #000);
}